.product-container-trending{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.blog-article
{
  width: 270px;
}
i{
  margin-top: 0.5rem !important;
}
.footer-icon{
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  padding: 0rem 1rem;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.label {

  width: 100%;
  background-color: #40A944;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  height: 37px;
  color: white;
  border-radius: 8px;
  margin-top: 0.5rem;
  padding: 0.7rem;
  outline: none;
}
.label:hover{
  background-color: black;
  color: white !important;
}
.primary_img>img{
  width: 250px !important;

}
.lnr{
  line-height: 2 !important;
}

